
.mainheading{font-family: 'Lobster', cursive;
text-align: center;
color: #000000;
word-spacing: 30px;
font-size: 25px;}
         
          .nav li{
              
              float: left;
          list-style: none;
              margin: auto;
              text-decoration: none;
        }
          .nav li a {
              margin: 8px;
             }
          
             
              
              

.nav li a:hover{color: indianred;
text-decoration: underline;}
.nav li a:visited{color: red;
text-decoration: underline;}
.nav li a:active{color:brown;
text-decoration: underline;}



        
          .intro{
            
              padding-left: 10px;
              padding-right: 10px;
          }
          .paracolor{
              color:#0a0024;
              font-size: 17px;
             
          }
          .heading{
              font-size: 34px;
              font-family: cursive;
              color:black;
          }
              .photoarea{
              padding-left: 10px;
              padding-bottom: 30px;
              width: 50%;
                 
                 
                  
              }
              .pic2{margin-left: 10px;
              height: 192px;
              
              }
              .photocombo{
                  padding-left: 15px
              }

strong {
    color:floralwhite
}
body{
    background: url('watercolor-5062356_1920.jpg');
    margin: 0;
    padding: 0;
    
}
.photo1 img{
    width: 100%;
   
    height: 246px;
}

.nav{
                 width: 100%;
       height: 40px;
        text-align: center;
                 border: 2px solid black;
                 border-radius: 9px;
        background-color: rgba(0, 0, 0, 0.82);
                 display: flex;
                 align-items: center;
       
    }
  
      
    .nav .menu a{
        margin: 50px;
        font-size: 20px;
        text-decoration: none;
      font-family: 'Baloo Bhai 2', cursive;
    }
    .nav .menu a:hover{
        color: darkmagenta;
        text-decoration: underline;
    }
    .nav .menu a:active{
        color: darkturquoise;
        text-decoration: underline;
    }
.container{
    height: 1080px;
    width:100%;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
   
    
    
    
    

    
}
.items{
   
    width: 500px;
    height: 200px;
    padding: 3px;
    margin: 20px;
    
         overflow:hidden;
         border-radius: 18px;
 
}
.items img {
     width: 500px;
    height: 200px;
    
    
    
       border-radius: 18px;
   
}
.items img:hover{
    transform: scale(2,2);
    transform: transform .3s;
    

    
    
    
    
}


  strong{
                color: black;
            }




    .paracolor{
                color: aliceblue;
        font-size: 20px;
            }
            




